<users-form></users-form>
<h2>
  List of Users:
</h2>

<ul class = "list-group">
  <!--li *ngFor = "let key of usersKeys">{{'user number ' + key + ' ' + users[key].username}}</li-->
  <li class = "list-group-item" *ngFor = "let key of usersKeys">
    <button class="btn btn-danger" (click) = "deleteUser(key)">Delete</button>
    <button class="btn btn-info" [routerLink] = "['/update-form', key]">Update</button>
    <a [routerLink] = "['/users', key]">{{'user number '+key+' '+users[key].name+' '+users[key].phone}}</a>
  </li>
</ul>