@import "~bootstrap/dist/css/bootstrap.css";

.errors{
	color: red;	
}

input{
	max-width: 300px;
	margin: 0 auto;
}

.center{
	text-align: center;
}
.list-group{
	text-align: center;
	
	margin: 0 auto;
}
.list-group-item{
	text-align: center;
	max-width: 500px;
	margin: 0 auto;
}