<h1>Update User</h1>

<form [formGroup] = "userForm" (ngSubmit) = "sendData()">
  
  <div>
    <label for="name">Name</label>
    <input  value="{{user?.name}}" type="text" name = "name" id = "name" class = "form-control" formControlName = "name" required>    
    
  </div>
    
  <div>
	  <label for="phone">Phone</label>
	  <input type="text" name="phone" id="phone" class = "form-control" formControlName = "phone" value="{{user?.phone}}" required>	  
  </div>
  <input type="text" name="id" id="id" class="hidden" value="{{user?.id}}">
  <input type="submit" value = "Save" class = "btn btn-primary">
</form>  
