@import "~bootstrap/dist/css/bootstrap.css";


.errors{
	color: red;	
}

input{
	max-width: 500px;
	text-align: center;
}

.hidden{
	display:none;
}

.center{
	text-align: center;
	border: 1px black solid;	
}
