<div class="center">
  <h1>Add User</h1>

  <form [formGroup] = "userform" (ngSubmit) = "sendData()">
    
    <div>
      <label for="name"><b>Name</b></label>
      <input type="text" name = "name" id ="name" placeholder="Name" class = "form-control" formControlName = "name" required>
      <div *ngIf="!userform.controls.name.valid" class="errors">
        
      </div>    
    </div>
      
    <div>
      <label for="phone"><b>Phone</b></label>
      <input type="text" name="phone" id="phone" placeholder="Phone" class = "form-control" formControlName = "phone" value="1000" required>
      <div *ngIf="!userform.controls.phone.valid" class="errors">
         
      </div>
    </div>
  <input type="submit" value = "Send User" class = "btn btn-primary" [disabled]="!userform.valid">
  </form>  
</div>