<div class="center">
<h1>Welcome!</h1>
<nav>
  <a routerLink="/products" routerLinkActive="active" class="btn btn-success">Products</a>
  <a routerLink="/users" routerLinkActive="active" class="btn btn-success">Users Slim</a>
  <a routerLink="/users-firebase" routerLinkActive="active" class="btn btn-success">Users Firebase</a>
 
</nav>
<router-outlet></router-outlet>
</div>